body {
    background-image: url("https://w0.peakpx.com/wallpaper/938/761/HD-wallpaper-dungeons-dragons-monster-manual.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}
