body {
    background-image: url("https://w0.peakpx.com/wallpaper/938/761/HD-wallpaper-dungeons-dragons-monster-manual.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
    color: white;
}

header {
    height: 80px;
}

main {
    height: calc(100vh - 80px);
}